

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<!-- Footer -->
<footer class="footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2025 Copyright:
    <a href="http://www.colegioelrosario.ed.cr/Secundaria-Colegio-El-Rosario.html" target="_blank"> ROSAFUT </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->